#v\:* {behavior:url(#default#VML);}
body, th, td, div, span, textarea, input, select {
  font-family: Tahoma; font-size: 8pt; font-weight0: bold;
  margin-top: 0;
  filter0: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#002070', EndColorStr='#3A6EA5');
}

.topmenu a {cursor: hand;}
.mhref, .href { cursor: pointer; text-decoration: underline; color: blue; font-size: 8pt; }
